.contact{
    &__container{
        row-gap: 3rem;
        padding-bottom: 3rem;
        @include breakpoint-down(medium){
            grid-template-columns: 1fr;
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(2, max-content);
            column-gap: 4rem;
            justify-content: center;
        }
        @include breakpoint-up(x-large){
            
        }
    }
    &__title{
        font-size: var(--h3-font-size);
        text-align: center;
        margin-bottom: 1.5rem;
    }
    &__info{
        display: grid;
        gap: 1rem;
        @include breakpoint-up(small){
            grid-template-columns: 300px;
            justify-content: center;
        }
        @include breakpoint-up(medium){
            grid-template-columns: repeat(3, 215px);
            column-gap: 2rem;
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(1, 250px);
        }
        @include breakpoint-up(x-large){
            grid-template-columns: repeat(1,300px);
        }
    }
    &__card{
        background-color: var(--container-color);
        padding: 1rem;
        border-radius: 0.75rem;
        text-align: center;
        &-icon{
            font-size: 2rem;
            color: var(--text-color);
            margin-bottom: 0.25rem;
        }
        &-title,
        &-data{
            font-size: var(--small-font-size);
        }
        &-title{
            font-weight: var(--medium);
        }
        &-data{
            display: block;
            margin-bottom: 0.75rem;
        }
    }
    &__button{
        font-size: var(--small-font-size);
        color: var(--first-color);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.25rem;
        &-icon{
            font-size: 1rem;
            @include transition-ease;
        }
        &:hover{
            .contact__button-icon{
                transform: translateX(0.25rem);
            }
        }
    }
    &__form{
        @include breakpoint-up(small){
            width: 360px;
            margin: 0 auto;
        }
        @include breakpoint-up(medium){
            width: 700px;
        }
        @include breakpoint-up(large){
            width: 450px;
        }
        @include breakpoint-up(x-large){
            width: 500px;
        }
        &-div{
            position: relative;
            height: 4rem;
            margin-bottom: 2rem;
            &.textarea{
                height: 11rem;
                textarea{
                    resize: none;
                }
            }
        }
        &-input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid var(--text-color-light);
            color: var(--text-color);
            background: transparent;
            outline: none;
            padding: 1.5rem;
            border-radius: 0.75rem;
            z-index: 1;
        }
        &-label{
            position: absolute;
            top: -1rem;
            left: 1.25rem;
            padding: 0.25rem;
            background-color: var(--body-color);
            z-index: 10;
        }
    }
}