@mixin transition-ease {
    transition: 0.4s ease-in-out;
}
// Breakpoints-Down
$breakpoints-down : (
    'x-small': 320px,
);
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}
// Breakpoints-Up
$breakpoints-up : (
    'small': 576px,
    'medium': 768px,
    'large' : 992px,
    'x-large' : 1200px
);
@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}